<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li *ngIf="isAdmin">
        <a routerLinkActive="active-menu" routerLink="/control/configuration">
          <i class="fa fa-list"></i> Configuration
        </a>
      </li>
      <li *ngIf="viewTargetsystems">
        <a routerLinkActive="active-menu" routerLink="/control/targets">
          <i class="fa fa-server"></i> Target Systems
        </a>
      </li>
      <li *ngIf="viewExperiments" >
        <a routerLinkActive="active-menu" routerLink="/control/experiments">
          <i class="fa fa-cogs"></i> Experiments
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a  routerLinkActive="active-menu" routerLink="/control/dashboard">
          <i class="fa fa-clipboard"></i> Dashboard
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLinkActive="active-menu" routerLink="/control/users">
          <i class="fa fa-users"></i> Users
        </a>
      </li>
    </ul>
  </div>
</nav>
