<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">Database Configuration for Experiments</div>
          <div class="pull-right" *ngIf="!save_button_clicked">
            <div *ngIf="hasChanges()" (click)="revertChanges()" class="btn btn-sm btn-default"><i
              class="fa fa-recycle"></i> Revert Changes
            </div>
            <div *ngIf="hasChanges() && !hasErrors()" (click)="saveChanges()" class="btn btn-sm btn-orange"><i
              class="fa fa-send"></i> Save Changes
            </div>
            <div *ngIf="hasChanges() && hasErrors()" class="btn btn-sm btn-danger"><i
              class="fa fa-close"></i> Data Error
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <labeled-input-select name="Database Type" [model]="configuration" key="type" [colSize]="12" [options]="[{key:'elasticsearch',label:'ElasticSearch'}]"></labeled-input-select>
        <labeled-input name="Database Host" [model]="configuration" key="host"></labeled-input>
        <labeled-input name="Database Port" [model]="configuration" key="port" inputType="number" [minNumber]="1" [maxNumber]="65535"></labeled-input>
        <div class="col-md-6" *ngIf="save_button_clicked">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="padding-top: 10%"></i>
          <p>Please wait...</p>
        </div>
      </div>
    </div>
  </div>
</div>
