<form accept-charset="UTF-8" role="form" class="form-signin">
  <fieldset>

    <div class="form-group">
      <label for="username" class="cols-sm-2 control-label">Username</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" [(ngModel)]="user.name"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="cols-sm-2 control-label">Password</label>
      <span class="pull-right text-primary" style="cursor: pointer;" (click)="forgotPassword()">Forgot password?</span>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" [(ngModel)]="user.password"/>
        </div>
      </div>
    </div>
    <button type="button" class="navbar-brand btn btn-lg btn-primary btn-block"
            (click)="submitLogin()" style="padding-bottom: 5%">Sign in
    </button>
    <hr>
    <p></p>

    <a [href]="mail" type="button" class="navbar-brand btn btn-lg btn-default btn-block"
              style="padding-bottom: 5%">Request Access
    </a>

  </fieldset>
</form>
