<form accept-charset="UTF-8" role="form" class="form-signin">
  <fieldset>

    <div class="form-group">
      <label for="newPassword" class="cols-sm-2 control-label">New Password</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" name="newPassword" id="newPassword"  placeholder="Enter your new password" [(ngModel)]="newPassword"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmNewPassword" class="cols-sm-2 control-label">Confirm new password</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword"  placeholder="Confirm your new password" [(ngModel)]="confirmNewPassword"/>
        </div>
      </div>
    </div>
    <button type="button" class="navbar-brand btn btn-lg btn-primary btn-block"
            style="padding-bottom: 5%" (click)="submitNewPassword()">Save new password
    </button>
  </fieldset>
</form>
