<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div *ngIf="user" class="panel panel-default " xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading">
          <span class="title">Profile</span>
          <span class="pull-right">
              <div  class="btn btn-sm btn-orange" (click)="updateProfile()"><i class="fa fa-send"></i> Save profile</div>
          </span>
        </div>
        <div class="panel-body">
          <user-form [user]="user" [hidePassword]="true" [disableEditName]="true" ></user-form>
          <div>
            <div class="sub-title">Your roles</div>
            <div>
          <ng-container *ngFor="let role of user.roles">
            <label class="label label-default" style="margin-left: 1px; margin-right: 1px">
                          <span data-toggle="tooltip" data-placement="bottom"
                                title="{{role.description}}">{{role.name}}</span>
            </label>
          </ng-container>
            </div>
          </div>
          <div style="padding-top: 20px">
            <div class="sub-title">Account security</div>
            <div  class="btn btn-sm btn-orange" (click)="changePassword()"><i class="fa fa-lock"></i> Change password</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
